<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>699E3FA91E609A3F00E06B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699E3FC21E609A4000E06B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699E3FCD1E609A4000E06B54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
